<!DOCTYPE html>
 <html lang="en" class="light">
 <head>
<!-- Original URL: https://arcone-rubick-html.left4code.com/main-light-error-page.html
Date Downloaded: 27-11-2023 15:29:56 !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta charset="utf-8" />
 <link href="dist/images/logo.svg" rel="shortcut icon" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Rubick admin is super flexible, powerful, clean & modern responsive bootstrap admin template with unlimited possibilities." />
 <meta name="keywords" content="admin template, Rubick Admin Template, dashboard template, flat admin template, responsive admin template, web app" />
 <meta name="author" content="LEFT4CODE" />
 <title>Dashboard - Rubick - _________ HTML Admin Template </title>
 <link rel="stylesheet" href="dist/css/app.css" />
 </head>
 <body class="main"><div style="z-index: 9999; position: fixed; width: 100%; border: 0px; padding: 5px; margin: 0px; background-color: transparent;  font-size: 12pt; font-family: sans-serif;" id="web2disk_nag" onclick="javascript: document.getElementById('web2disk_nag').style.display = 'none';">
		<div style="color: #000000; background-color:#F1F1F1; margin-left: auto; margin-right: auto; border-width: 2px; border-style: solid; width: 550px; ">
			<div style="width: 100%; text-align: center; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Hey, where did my words go? (Click to hide)</div>
			<p>In the trial version of Web2Disk every fifth word is blanked out. 
			To copy this site with all the words, please upgrade to the full version and copy this website again.</p>
			<div style="width: 100%; text-align: center; font-weight: bold; border: 0px; margin: 0px; padding: 0px">
				<a href="http://www.inspyder.com/products/Web2Disk/">Inspyder Web2Disk: The Website Downloader</a>
			</div>
		</div>
	</div>
 <div class="container">
 <div class="error-page d-flex flex-column flex-lg-row align-items-center justify-content-center h-screen text-center text-lg-start">
 <div class="-intro-x me-lg-20">
 <img alt="Rubick Bootstrap HTML Admin Template" class="h-48 h-lg-auto" src="dist/images/error-illustration.svg" />
 </div>
 <div class="text-white mt-10 mt-lg-0">
 <div class="intro-x fs-8xl fw-medium">404 </div>
 <div class="intro-x fs-xl fs-lg-3xl fw-medium mt-5">Oops. This page has ____ missing. </div>
 <div class="intro-x fs-lg mt-3">You may have mistyped ___ address or the page ___ have moved. </div>
 <button class="intro-x btn py-3 px-4 text-white border-white dark-border-dark-5 dark-text-gray-300 mt-10">Back to Home </button>
 </div>
 </div>
 </div>
 <div data-url="main-dark-error-page.html" class="dark-mode-switcher cursor-pointer shadow-md position-fixed bottom-0 end-0 box dark-bg-dark-2 border rounded-pill w-40 h-12 d-flex align-items-center justify-content-center z-50 mb-10 me-10">
 <div class="me-4 text-gray-700 dark-text-gray-300">Dark Mode </div>
 <div class="dark-mode-switcher__toggle border"></div>
 </div>
 <script src="../developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
 <script src="../maps.googleapis.com/maps/api/js_1beb78b.js"></script>
 <script src="dist/js/app.js"></script>
 </body>
 </html>